<div class="dashboard-container">
    <h2>Metas de Ahorro Registradas</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre de la Meta</th>
                <th>Monto Objetivo</th>
                <th>Fecha Límite</th>
                <th>Monto Ahorrado</th>
                <th>Progreso</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meta of metas">
                <td>{{ meta.nombreMeta }}</td>
                <td>{{ meta.montoObjetivo | currency }}</td>
                <td>{{ meta.fechaLimite | date }}</td>
                <td>
                    <input type="number" [(ngModel)]="meta.montoAhorrado" min="0" [max]="meta.montoObjetivo" placeholder="Monto Ahorrado">
                    <button class="actualizar" (click)="actualizarProgreso(meta)">Actualizar</button>
                </td>
                <td>
                    <div>
                        <progress max="100" [value]="meta.progreso"></progress> {{ meta.progreso | number: '1.0-0' }}%
                    </div>
                </td>
                <td>{{ meta.estado }}</td>
                <td>
                    <button class="eliminar" (click)="eliminarMeta(meta.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
