<div>
  <h1>Registra tus datos</h1>
</div>

<form (ngSubmit)="agregarUsuario()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
  </div>

  <div>
    <label for="correo">Correo Electrónico:</label>
    <input type="email" id="correo" [(ngModel)]="usuario.email" name="correo" required>
  </div>

  <div>
    <label for="saldoActual">Saldo Actual:</label>
    <input type="number" id="saldoActual" [(ngModel)]="usuario.saldoActual" name="saldoActual" required>
  </div>


  <button type="submit">Registrar Usuario</button>
</form>
