<div>
    <h2>Registro</h2>
    <form (ngSubmit)="onRegister()">
      <input [(ngModel)]="authForm.value.nombre" name="nombre" placeholder="Nombre" required />
      <input [(ngModel)]="authForm.value.email" name="email" placeholder="Email" required />
      <input [(ngModel)]="authForm.value.password" name="password" placeholder="Contraseña" required type="password" />
      <button type="submit">Registrar</button>
    </form>
  
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <input [(ngModel)]="authForm.value.email" name="loginEmail" placeholder="Email" required />
      <input [(ngModel)]="authForm.value.password" name="loginPassword" placeholder="Contraseña" required type="password" />
      <button type="submit">Iniciar Sesión</button>
    </form>
  
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
  </div>
  